
#youtube, #thumb{
  height:16rem;
}

.firstbox{
  display: flex;
  flex-direction: column;
}

.ingredients{
  display: grid;
  grid-template-columns: repeat(1, auto);
}


@media only screen and (min-width:767px){

  #thumb{
    height:26rem;
  }

  .firstbox{
    display:grid;
    grid-template-columns: auto 1fr;
    gap:3rem;
  }

  .ingredients{
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (min-width:1024px){

  #youtube{
    height:24rem;
    width:80%;
  }

  #thumb{
    height:26rem;
  }
}