// mobile

#home-bg{
  background-image: url('../public/assets/meal9.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  padding:5rem 1rem;
}

// #headerbox{
//   background: rgb(70, 70, 85);
//   backdrop-filter: blur( 4px );
//   -webkit-backdrop-filter: blur( 4px );
//   padding:1rem;
// }

#searchbox{
  display:grid;
  grid-template-columns: 1fr auto;
}


#tagline{
  font-size:28px;
}

.categories-box{
  padding:.6rem;
}
#categories{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap:1rem;
}

#category-box{
  transition:.3s;
  display:flex;
  flex-direction: column;
}

#tag{
  width: max-content;
  padding:1px .5rem;
  margin-bottom:-1rem;
  z-index:1;
  margin-left:auto;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

#headerbox{
  padding:1rem 1rem;
}


#footerbox{
  padding:3rem 1rem;
  display: flex;
  flex-direction: column;
  gap:1.5rem;

  .footlogo{
    font-size:28px;
  }
}



// tablet & iPad
@media only screen and (min-width:767px){
  #home-bg{
    padding:8rem 1rem;
  }

  .categories-box{
    padding:1.5rem;
  }
  #categories{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
  }

  #tagline{
    font-size:28px;
  }

  #hide{
    display: block;
  }

  
  #footerbox{
    padding:3rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:2rem;
    .footlogo{
      font-size:30px;
    }
  }
}



// Desktop
@media only screen and (min-width:1024px){
  #headerbox{
    padding:1.2rem 3rem;
  }

  #categories{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
  }

  #footerbox{
    padding:3rem 8rem;
    display: flex;
    justify-content: space-between;

    .footlogo{
      font-size:32px;
    }
  }
}